sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15%;
  background: linear-gradient(to left, #0c92928c, #0a759830);
  .titles {
    width: 100%;
    height: max-content;
    text-align: center;
    padding: 10px;

    color: gold;
    font-family: cursive;
    font-size: 18px;
    box-shadow: gold -3px 2px 5px;
  }
  .games {
    margin-top: 5%;
    width: 100%;
    background: linear-gradient(to left, #0c92928c, #0a759830);
    transition: 500ms;
    cursor: pointer;
    &:hover {
      background: #0c92928c;
    }
    h2 {
      font-family: cursive;
      background: rgba(8, 117, 180, 0.404);
      text-shadow: 0px 1px rgb(18, 28, 36);
      text-align: center;
    }
    img {
      width: 100%;
      padding: 2%;
    }
  }
}
