@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "_landing", "_nav", "_section";
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
body {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/Background.svg");

  background-repeat: no-repeat;
}
