@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#yourway {
  margin-top: 2%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: default;
  font-size: 35px;
  text-shadow: 0px 4px 4px #16038073;
  font-family: Noto Sans;
  text-align: center;
  color: #093986;
  margin-left: 50%;
  font-weight: bold;
}

section {
  margin-top: 2%;
  width: 100%;
  height: 100%;
}

section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section div img {
  width: 550px;
  height: 450px;
}

section div h1 {
  margin-top: 5%;
  margin-right: 50%;
  margin-bottom: 1%;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #1a6289;
  color: #080228;
  font-weight: 600;
  text-shadow: 0px 2px 5px #055050;
  -webkit-box-shadow: 0px 2px 5px black;
          box-shadow: 0px 2px 5px black;
  background-color: rgba(0, 255, 255, 0.116);
  -webkit-transition: 500ms;
  transition: 500ms;
}

section div h1:hover {
  background-color: rgba(0, 255, 255, 0.424);
}

@media only screen and (max-width: 1022px) {
  section div img {
    width: 500px !important;
    height: 400px !important;
    margin: 0px !important;
    margin-top: 2% !important;
  }
  section div h1 {
    margin: 0px !important;
    margin-top: 15% !important;
  }
  #yourway {
    margin: 0px !important;
    margin-top: 2% !important;
    font-size: 30px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (max-width: 550px) {
  section div img {
    width: 100% !important;
    height: 300px !important;
    margin: 0px !important;
    margin-top: 2% !important;
  }
  section div h1 {
    margin: 0px !important;
    margin-top: 15% !important;
  }
  #yourway {
    margin: 0px !important;
    margin-top: 2% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 411px) {
  section div img {
    width: 100% !important;
    height: 200px !important;
    margin: 0px !important;
    margin-top: 2% !important;
  }
  section div h1 {
    margin: 0px !important;
    margin-top: 15% !important;
  }
  #yourway {
    margin: 0px !important;
    margin-top: 2% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 25px !important;
  }
  .nav_one {
    width: 100vw !important;
  }
  .nav_one img {
    width: 50px !important;
    height: 50px !important;
  }
  .nav_one .menu h1 {
    font-size: 18px !important;
    border-radius: 10px !important;
  }
}

@media only screen and (max-width: 388px) {
  #yourway {
    font-size: 23px !important;
  }
}

@media only screen and (max-width: 320px) {
  #yourway {
    font-size: 20px !important;
  }
}

.nav_one {
  height: 10vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#052f3a), to(#0592b6b0));
  background-image: linear-gradient(to bottom, #052f3a, #0592b6b0);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 255, 0.315);
          box-shadow: 0px 2px 5px rgba(0, 0, 255, 0.315);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_one img {
  cursor: pointer;
  margin: 8px;
  float: left;
  width: 70px;
  height: 70px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.nav_one img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.nav_one .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.nav_one .menu h1 {
  font-size: 20px;
  cursor: pointer;
  margin: 5%;
  color: aqua;
  text-shadow: 0px 2px 5px #032c2c;
  padding: 10px;
  border-bottom: 2px solid aqua;
  border-radius: 10px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.nav_one .menu h1:hover {
  background-color: rgba(125, 214, 214, 0.349);
}

@media only screen and (max-width: 882px) {
  form {
    width: 70% !important;
  }
}

@media only screen and (max-width: 400px) {
  form {
    width: 80% !important;
  }
  form h1 {
    font-size: 28px;
  }
  form input {
    font-size: 13px !important;
  }
}

.form_login_signup_container {
  padding-top: 5%;
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_login_signup_container form {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 139, 139, 0.356);
  -webkit-box-shadow: black 0px 2px 4px;
          box-shadow: black 0px 2px 4px;
  padding: 20px;
  border-radius: 15px;
}

.form_login_signup_container form h1 {
  color: whitesmoke;
  text-shadow: #024747 0px 2px 5px;
  font-family: cursive;
}

.form_login_signup_container form input {
  margin: 5%;
  width: 100%;
  height: 50px;
  border: 2px solid darkcyan;
  -webkit-box-shadow: darkcyan 0px 2px 4px;
          box-shadow: darkcyan 0px 2px 4px;
  border-radius: 10px;
  outline: none;
  -webkit-transition: 400ms;
  transition: 400ms;
  background: #024646;
  color: whitesmoke;
  text-align: center;
  font-size: 18px;
}

.form_login_signup_container form input:hover {
  border: 2px solid aqua;
}

.form_login_signup_container form input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form_login_signup_container form input:focus:-ms-input-placeholder {
  opacity: 0;
}

.form_login_signup_container form input:focus::-ms-input-placeholder {
  opacity: 0;
}

.form_login_signup_container form input:focus::placeholder {
  opacity: 0;
}

.form_login_signup_container form input::-webkit-input-placeholder {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: whitesmoke;
  text-align: center;
}

.form_login_signup_container form input:-ms-input-placeholder {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: whitesmoke;
  text-align: center;
}

.form_login_signup_container form input::-ms-input-placeholder {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: whitesmoke;
  text-align: center;
}

.form_login_signup_container form input::placeholder {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: whitesmoke;
  text-align: center;
}

.form_login_signup_container form button {
  margin-top: 5%;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  -webkit-transition: 400ms;
  transition: 400ms;
  background-color: #1b7d8a;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: black 0px 2px 5px;
          box-shadow: black 0px 2px 5px;
  text-shadow: black 0px 1px 2px;
}

.form_login_signup_container form button:hover {
  background-color: #18bdd3;
}

.nav_two {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#052f3a), to(#0592b6b0));
  background-image: linear-gradient(to bottom, #052f3a, #0592b6b0);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 255, 0.315);
          box-shadow: 0px 2px 5px rgba(0, 0, 255, 0.315);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_two #logoimg {
  cursor: pointer;
  margin: 8px;
  float: left;
  width: 60px;
  height: 60px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.nav_two #logoimg:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.nav_two menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  gap: 100px;
  margin-left: auto;
  margin-right: auto;
}

.nav_two menu_items search_form {
  width: 100%;
}

.nav_two menu_items search_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_two menu_items search_form form button {
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 10px;
  background: transparent;
  background: #055e99bf;
  color: whitesmoke;
  text-shadow: black 0px 2px 5px;
  -webkit-box-shadow: black 0px 2px 5px;
          box-shadow: black 0px 2px 5px;
  font-size: 15px;
}

.nav_two menu_items search_form form input {
  background-color: rgba(245, 245, 245, 0.308);
  margin-left: 5%;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
  -webkit-transition: 500ms;
  transition: 500ms;
  color: black;
  text-align: center;
  font-size: 18px;
}

.nav_two menu_items search_form form input:hover {
  border: 2px solid aqua;
}

.nav_two menu_items search_form form input::-webkit-input-placeholder {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: whitesmoke;
  text-align: center;
}

.nav_two menu_items search_form form input:-ms-input-placeholder {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: whitesmoke;
  text-align: center;
}

.nav_two menu_items search_form form input::-ms-input-placeholder {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: whitesmoke;
  text-align: center;
}

.nav_two menu_items search_form form input::placeholder {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: whitesmoke;
  text-align: center;
}

.nav_two menu_items button {
  cursor: pointer;
  border: none;
  padding: 10px;
  height: 100%;
  background: #055e992d;
  color: whitesmoke;
  font-size: 15px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.nav_two menu_items button:hover {
  background: #055e995e;
}

.nav_two profile_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0% 1%;
  background: -webkit-gradient(linear, left top, right top, from(#497d8a00), to(#0a18e05e));
  background: linear-gradient(to right, #497d8a00, #0a18e05e);
  margin-left: auto;
}

.nav_two profile_container #Logout_B {
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 10px;
  background: transparent;
  background: #0a18e0bf;
  color: whitesmoke;
  text-shadow: black 0px 2px 5px;
  -webkit-box-shadow: black 0px 2px 5px;
          box-shadow: black 0px 2px 5px;
  font-size: 15px;
  height: 50%;
}

.nav_two profile_container profile_pcture_container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_two profile_container profile_pcture_container #Profile_Name {
  font-size: 20px;
  color: white;
  text-shadow: #000607 0px 2px 5px;
}

.nav_two profile_container profile_pcture_container button {
  -webkit-box-shadow: #000607 0px 2px 5px;
          box-shadow: #000607 0px 2px 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.nav_two profile_container profile_pcture_container button #Profile_Picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

showbarHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 5%;
}

showbarHead #Trending {
  font-size: 25px;
  padding: 0.5%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: gold;
  text-shadow: goldenrod 2px 0px 3px;
}

showbarHead #Newest {
  font-size: 25px;
  padding: 0.5%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #060425;
  text-shadow: #2090da 2px 0px 3px;
}

showbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50vh;
  border-bottom: 2px #0a8888 solid;
  border-top: 2px #0a8888 solid;
  overflow: auto;
}

showbar post {
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 3%;
  position: relative;
  left: 0;
}

showbar post h3 {
  font-size: 22px;
  padding: 0.5%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: whitesmoke;
  text-shadow: black 2px 0px 3px;
}

showbar post h3 span {
  color: aquamarine;
}

showbar post img {
  width: 500px;
  height: 100%;
  -webkit-box-shadow: black 2px 0px 5px;
          box-shadow: black 2px 0px 5px;
  border-radius: 15px;
}

* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#497d8a), to(#0592b6b0)) !important;
  background-image: linear-gradient(to bottom, #497d8a, #0592b6b0) !important;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=index.css.map */